@keyframes back-effect {
  0% {
    transform: translateY(0px);
  }

  50%{
    transform: translateY(-100px);

  }
  100% {
    transform:  translateY(0px);
  }
}

.app {
  text-align: center;
  padding-top: 10%;
}


.chat-container {
  display: inline-block;
  position: relative;
  width: 700px;
  max-width: 94%;
  height: 500px;
  max-height: 90%;
  margin-top: 10px;
  margin-bottom: 12%;
  border: 2px solid #cedada;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(234, 248, 250, 0.5);
  box-shadow: #b3cdd2 0px 0px 15px -8px;
}

.back-png {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}

.back-png > img {
  width: auto;
  max-height: 120%;
  filter: blur(0px) brightness(120%) opacity(20%);
  animation: back-effect 20s linear infinite;
}

.now-chat-name {
  position: absolute;
  display: inline-block;
  top: -9%;
  left: 11%;
  padding: 2px 7px 2px 7px;
  margin-top: 3px;
  background-color: #ffffff;
  border: 1px solid #e9e9ec;
  border-radius: 5px;
  color: #53848a;
  font-size: 18px;
}

.open-chat-name {
  color: #26b097;
}

.user-list-tag {
  position: absolute;
  left: 2%;
  top: 12%;
}

.user-list-container {
  display: inline-block;
  position: absolute;
  width: 15%;
  min-width: 40px;
  height: 79%;
  left: 2%;
  bottom: 3%;
  padding: 0.6%;
  border: 1px solid #d7e5e5;
  border-radius: 5px 7px 5px 9px;
  box-sizing: border-box;
  background-color: #fafafa;

}


.user-row {
  display: inline-block;
  width: 100%;
  height: 12%;
  padding: 7%;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.27);
  border-radius: 3px;
}

.user-row:hover {
  background-color: #e4efe5;
  border: 1px solid #c6d8de;
}

.user-row-selected {
  background-color: #d1e1dc;
  border: 1px solid #b3bad2;
}

.avatar {
  float: left;
}

.chat-list-container {
  display: inline-block;
  position: absolute;
  width: 78%;
  min-width: 40px;
  height: 80%;
  right: 2%;
  bottom: 3%;
  border: 1px solid #d7e5e5;
  border-radius: 5px 7px 5px 9px;
  box-sizing: border-box;
  background-color: white;
}


.chat-row {
  display: inline-block;
  position: relative;
  width: 96%;
  height: 10%;
  padding: 5px 48px 0 48px;
  box-sizing: border-box;
}

.chat-row-date {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 8px;
  color: #bdb2b2;
  transform: scale(88%);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.chat-item-self, .chat-item-other {
  max-width: 100%;
  text-align: left;
  word-break: break-all;
  white-space: normal;
  height: auto;
  margin: 25px 0 13px 0;
}

.chat-item-self {
  float: right;

}

.chat-item-other {
  float: left;

}

.avatar-self, .avatar-other {
  position: absolute;
  bottom: 18px;
}

.avatar-self {
  right: 0;
}

.avatar-other {
  left: 0;
}

.name-self, .name-other {
  position: absolute;
  bottom: 45px;
  font-size: 8px;
  transform: scale(88%);
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.name-self {
  right: 47px;
  color: #58daf1;
}

.name-other {
  left: 47px;
  color: #bdb2b2;
}


.online {
  position: absolute;
  top: 2%;
  right: 5%;
}

.logout {
  position: absolute;
  top: 3%;
  left: 3%;
}

.send {
  position: absolute;
  bottom: -15%;
  right: 0;
}

